PORT=8000
DEBUG=True

OPENAI_API_KEY=sk-proj-xxxxxxxxxxxxxxxxxxxx
OPENAI_MODEL=gpt-4o
OPENAI_MODEL_MINI=gpt-4o-mini

OPENROUTER_API_KEY=sk-or-v1-xxxxxxxxxxxxxxxxxxxx
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1

QDRANT_URL=https://students.qdrant.myia.io
QDRANT_API_KEY=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
QDRANT_COLLECTION=rapports

SEARXNG_URL=https://search.myia.io

EXPORT_DIR=exports